[Unit]
Description=Manage DNS entries from containers
Requires=.service
After=.service

[Service]
ExecStart=/usr/bin/dns-companion

[Install]
WantedBy=multi-user.target