# Devenv
.devenv*
devenv.local.nix

# Go build outputs
/herald
/herald_x86_64
/herald_aarch64
/herald_*/

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

bin/
herald.conf
herald.yaml
herald.yml
result/

.vscode/settings.json
