# Sample .env for Herald

# If true don't perform actual updates
DRY_RUN=false

# Logging
LOG_LEVEL=verbose
LOG_TIMESTAMPS=true

# All other configuration should be done via herald.yml config file
# See herald.yml.sample for complete configuration examples
